.canvas_{
    width: 100%;
    height: 100%;
}
.canvas_box{
    width: 80%;
    height: 100%;
    flex-direction: row  ;
    display: flex;
}

.ColorBox {

}

.ColorButton{
    border-radius: 50%;
    padding: 12px;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    position:   relative;

}

.ToolField {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}
.ColorPicker{
    box-shadow: none;
}

.ToolBox {
        padding: 5px;
    border-radius: 5px;
    background-color: white;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.ColorButtonGap{
    padding: 1%;
}

.undermenubox{
    width: 100vw;
    height: 20vh;
    flex-direction: row;
    display: flex;
}

.gotobattlebox {
    width: 15%;
    background-color: aqua;
    margin: 20px 0px 20px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}

.gotobattleButton {
    border-radius: 10px;
    background: blue;
    /* height: 40%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.undermenuGap{
    width:5%;
}
.undermenu{
    display: flex;
    flex-direction: row;
    width: 100%;
}
