.box {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #f0f0f0;
    }

    .canvas {
      margin-top: 20px;
      width: 90%;
      height: 80vh; /* 画面の高さの80% */
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      /* display: flex; */
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }

    .card-slider {
      margin: 20px 0;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      width: 90%;
    }

    