.box {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #f0f0f0;
    }

    .canvas {
      margin-top: 20px;
      /* width: 90%; */
      /* height: 73vh; 画面の高さの80% */
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      /* display: flex; */
      align-items: center;
      justify-content: center;
      font-size: 24px;
      padding: 5px;
    }

    .card-slider {
      margin-top: 20px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      width: 75%;
    }

    .SideGap{
      padding-left: 1vw;
    }
    .boxbox{
      display: flex;
      flex-direction: row;
      width: 100vw;
      height: 100vh;
      padding: 0;
      margin: 0
      ;
    }

    .toolIconBox{
      /* width: 16px;
      height: 16px; */
      padding: 5px;
      margin: 5px;
      
    }

    .toolIconBox:hover{
      background: rgba(0, 0, 0, 0.15);
      border-radius: 50%;
      /* box-shadow: rgba(0, 0, 0, 0.7); */
    }